


.nazim{
  display: flex;
  /* background-color: #bd7c7c; */
  flex-wrap: wrap;
  text-align: start;
  padding: 20px;
  /* width: 100vw; */
  color: black;
  justify-content: space-between;
}
label{
  display: block;
}
input{
  margin-bottom: 10px;
  width: 100% ;
}
.nazim>table{
  width: 60% !important;
  
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 20px;

  display: block;
}
.nazim>form{
  display: block;
  width: 29% !important;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
padding: 20px;
}
